.navbar {
  position: sticky;
  top: 0;
  z-index: 999; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  padding: 0.8rem 2rem;
  border-bottom: 3px solid orange;
  color: white;
}

.logo {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: orange;
}

.tagline {
  font-size: 0.75rem;
  color: #fff;
  letter-spacing: 1px;
}

.navLinks {
  display: flex;
  flex-direction: column; /*pratik*/
  gap: 2rem;
}

.navLinks a {
  display: flex; /*pratik*/
  flex-direction: column; /*pratik*/
  text-decoration: none;
  font-weight: 500;
  color: white;
}

.navLinks a:hover {
  color: orange;
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.socialIcons a {
  color: white;
  font-size: 1.2rem;
}

.socialIcons a:hover {
  color: orange;
}

/*pratik*/
.menuOption{
  position: absolute;
  right: 20px;
  top: 15px;
}


@media (max-width: 600) {
  .socialIcons {
    display: none;
  }

  .navLinks {
    display: none;
  }

  .navLinks.show {
    display: flex;
  }

  .menuOption {
    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
}

@media (min-width: 600) {
  .menuOption {
    display: none;
  }

  .navLinks {
    flex-direction: row;
    gap: 1.5rem;
  }

  .navLinks a {
    flex-direction: row;
  }
}

